<a id="section_CART"></a> 
## Árvores de classificação: fazendo previsão sobre uma variável categórica

In [9]:
# Importandos as bibliotecas de análise de dados
import pandas as pd
import numpy as np
import random as rnd

In [10]:
# Importando as bibliotecas de visualização
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [11]:
# Importando o conjunto de dados, que usamos em nosso projeto 
df = pd.read_csv("../DataSet/full_data.csv")
display(df.head(6))
print()
pd.DataFrame(df.dtypes,columns=['dtypes'])

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
4,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
5,Male,74.0,1,1,Yes,Private,Rural,70.09,27.4,never smoked,1

                    dtypes
gender              object
age                float64
hypertension         int64
heart_disease        int64
ever_married        object
work_type           object
Residence_type      object
avg_glucose_level  float64
bmi                float64
smoking_status      object
stroke               int64

In [13]:
# Análizando como o conjunto de dados é composto:
df.groupby(['hypertension']).count()

,gender,age,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
hypertension,,,,,,,,,,
0,4502,4502,4502,4502,4502,4502,4502,4502,4502,4502
1,479,479,479,479,479,479,479,479,479,479